<!-- {% load static %} -->
<html>

<head>
    <title>Stories</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/">Stories</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <!-- <a class="nav-item ml-auto nav-link" href="#">Logout</a> -->
                <!-- <a class="nav-item nav-link" href="#">About Us</a> -->
            </div>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr id="navhr">

    <div class="container mt-2">
        <div>
            <h1>Sulasa and Sattuka</h1>
        </div>



        <div class="shadow-lg p-3 mb-5 rounded">
            <br>
            <p class="lead">The story of Sulasa and Sattuka is from the famous Jataka tales, a lengthy work of
                literature that talks about Gautama Buddha’s previous births.
                <br><br>
                Once there lived a beautiful prostitute named Sulasa. One day, she saw a group of soldiers dragging a
                man towards the place of execution, and instantly fell in love with him. That man was the feared robber
                Sattuka. Sulasa hurriedly sent a thousand gold pieces to the chief constable in exchange for Sattuka’s
                freedom. She then married him and promised to give up her old life. After a blissful few months of
                marriage, Sattuka realised that he wasn’t the type to be tied down to a single place or person. He
                decided to kill his wife, steal all her ornaments and flee town.
                <br><br>
                The next day he lied to Sulasa, saying that he had promised a deity on top of a mountain that he’d make
                offerings if he managed to escape execution. He then made Sulasa put on all her ornaments out of respect
                to the deity, and took her to the mountain top. When they reached the summit, he revealed his evil plan.
                Salusa was shocked but she was quick to think on her feet as well. She told Sattuka that she wanted to
                pay obeisance to her husband from all four sides for the very last time. She knelt in front of him, then
                on the left and right sides, but when she stepped behind him she took hold of Sattuka and threw him over
                a cliff. Seeing this, the deity who lived on the mountain said:
                <br><br>
                ‘Wisdom at times is not confined to men / A woman can chew wisdom now and then. / Wisdom at times is not
                confined to men / Women are quick in counsel now and then.’</p>
        </div>

        <a href="/"><button class="mb-5">Back</button></a>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>