<!-- {% load static %} -->
<html>

<head>
    <title>Stories</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/">Stories</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <!-- <a class="nav-item ml-auto nav-link" href="#">Logout</a> -->
                <!-- <a class="nav-item nav-link" href="#">About Us</a> -->
            </div>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr id="navhr">

    <div class="container mt-2">
        <div>
            <h1>The Wedding Of The Mouse</h1>
        </div>



        <div class="shadow-lg p-3 mb-5 rounded">
            <br>
            <p class="lead">Once a sage was bathing in a river when a hawk dropped a mouse it was holding in its claws
                right onto his hands. Afraid that the hawk would pounce on the mouse if he left it alone, the sage
                transformed the small animal into a beautiful baby girl and took her home to his wife. Since the couple
                did not have a child of their own, they adopted the baby, thinking her to be a blessing from god.
                <br><br>
                When the girl reached a marriageable age, the sage and his wife decided to find the best husband for
                their daughter. So the proud father took his daughter to the Sun God. However, the girl refused to marry
                him. Similarly, the sage met with the King of Cloud, the Lord of Winds and the Lord of Mountains. But
                the daughter dismissed all of them, despite their mighty powers. Finally the Lord of Mountains suggested
                that the King of Mice was far superior to him, since the latter could bore hills all over him. When the
                sage’s daughter met the King of Mice, she immediately agreed to the union. Then the father transformed
                his daughter back to a female mouse and the happy couple got married.
                <br><br>
                This story is from Panchatantra, collection of fables from ancient India written in Sanskrit. The moral
                of the story is that our innate nature can never change, despite external appearances.</p>
        </div>

        <a href="/"><button class="mb-5">Back</button></a>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>